<main class="flex-column-center">
    <div class="form-container">
        <label for="patente"></label>
        <div class="input-button-container">
            <input type="text" id="patente" [(ngModel)]="nuevaCochera.patente" placeholder="Ingrese patente" />
            <button id="agregar-cochera" (click)="agregarCochera()">+</button>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <td>Nº</td>
                <td>Disponibilidad</td>
                <td>Patente</td>
                <td>Hora de Ingreso</td>
                <td>Tiempo Transcurrido</td> <!-- Nueva columna -->
                <td>Importe a Abonar</td> <!-- Nueva columna -->
                <td>Acciones</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cochera of dataCocherasService.cocheras; let i = index">
                <td>{{ cochera.id }}</td>
                <td>
                    <span [ngClass]="{'disponible': !cochera.deshabilitada, 'ocupado': cochera.deshabilitada}">
                        {{ !cochera.deshabilitada ? 'Disponible' : 'Ocupado' }}
                    </span>
                </td>
                <td>{{ cochera.patente }}</td>
                <td>{{ cochera.horaIngreso | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ cochera.horasOcupadas }}h {{ cochera.minutosOcupados }}m {{ cochera.segundosOcupados }}s</td> <!-- Tiempo transcurrido -->
                <td>${{ cochera.costo.toFixed(2) }}</td> <!-- Importe a abonar -->
                <td class="acciones-container">
                    <button (click)="deshabilitarCochera(i)" *ngIf="!cochera.deshabilitada"> DESHABILITAR </button>
                    <button (click)="habilitarCochera(i)" *ngIf="cochera.deshabilitada"> HABILITAR </button>
                    <button (click)="preguntarBorrarCochera(i)" *ngIf="esAdmin"> BORRAR </button>
                </td>
            </tr>
        </tbody>
    </table>
</main>