<header>
    <h1>Parking App</h1>
    <nav>
        <a [routerLink]="['/estado-cocheras']" routerLinkActive="link-activo" >Estado cocheras</a>
        @if(esAdmin){
            <a [routerLink]="['/reportes']" routerLinkActive="link-activo" >Reportes</a>
            <a [routerLink]="['/precios']" routerLinkActive="link-activo" >Precios</a>
        }
            <a [routerLink]="['']" routerLinkActive="link-activo">Usuario</a>
            <button class="boton-cerrar-sesion" (click)="cerrarSesion()">Cerrar sesión</button>
    </nav>
</header>
<router-outlet />