main {
    overflow: hidden; /* Asegúrate de que no haya scroll */
}

/* Estructura principal */
main.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-image: url("./../../../public/underground-car-parking-shopping-center.jpg");
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* No repetir la imagen */
    min-height: 100vh; /* Altura mínima del contenedor */
}

/* Tabla */
table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse; /* Elimina el espacio entre bordes */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    font-size: 1rem;
}

thead {
    background-color: white; /* Color de encabezado */
    color: white;
    font-weight: bold;
}

td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Color diferente para filas pares */
}

tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Efecto hover para filas */
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 820px) {
    table {
        font-size: 0.875rem; /* Tamaño de texto más pequeño en móviles */
    }

    td {
        padding: 0.5rem;
    }
}